* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    width: 100%;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
    color: white;
    width: 100vw;
}
.descuentos{
    background: #1CD1B0;
    font-size: 20px;
    padding-left: 1.5%;
}
div {
    width: 100vw;
}

h1 {
    background-color: #00669F;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    font-weight: normal;
    padding-bottom: 25px;
    padding-left: 28px;
    padding-top: 25px;
    width: 100%;
}

h2 {
    font-size: 140%;
    font-weight: normal;
    position: absolute;
    z-index: 3;
    color: black;
    top: 50%;
    left: 22%;
    text-align: center;
}

article{
    display: inline-flexbox;
}

footer{
    background: #00669F;
    height: 8vh;
    position: absolute;
    width: 100vw;
}

.derechos{
    color: #FFF9F9;
    font-style: normal;
    text-align: center;
    padding-top: 16px;
}

article {
    position: relative;
    width: 340px;
    height: 590px;
    left: 32px;
    top: 154px;
    background-color: #F3F3F3;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    display: inline-block;
    margin: 100px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.botonver {
    position: absolute;
    z-index: 3;
    color: white;
    top: 88%;
    left: 30%;
    background-color: #00669F;
    padding: 15px 37px;
}
.descripcion {
    color: black;
    font-size: 98%;
    padding: 16px;
    position: absolute;
    text-align: justify;
    top: 55%;
    z-index: 3;
}

.imagenfondo {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 35%;
    border-top-left-radius: 7%;
    border-top-right-radius: 7%;
}

.fotoperfil {
    position: relative;
    z-index: 3;
    width: 50%;
    border-radius: 50%;
    left: 25%;
    top: 20%;
}

.fas {
    font-size: 30px;
    position: absolute;
    z-index: 4;
    color: #CC2424;
    top: 15px;
    left: 21px;
}

.cards {
    align-items:center;
    display: inline-block;
    justify-content: space-around;
    margin: 0 50px;
    width: 300px;
    padding-bottom: 15%;
    position: relative;
}


/* article.card{
    background-color: #F3F3F3;
    border-radius: 15px 15px 0 0;
     filter: drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.16)); 
    margin: 0 20px;
    width: 300px;    
.card-header{
    margin-bottom: 50px;
    position: relative; */
